@model List<HACCPExtender.Models.Bussiness.BCategoryM>

@Styles.Render("~/Content/css/style.css")
@Styles.Render("~/Content/css/category.css")
@Scripts.Render("~/Scripts/js/common.js")
<script type="text/javascript">
    $(function () {
    })
    function regist() {
        $("#message-area").css('display', 'none');
        if (!confirm("登録します。よろしいですか？")) {
            $('form').off('submit');
            return false;
        }
        $('.orderno').each(function (i) {
            $(this).val(i);
        });
        $('form').attr('action', '@Url.Content("~/CategoryM/Edit")');
        $('form').submit();
    }
    function regist2() {
        $("#message-area").css('display', 'none');
        if (!confirm("設問マスタの内容が一致しない場合がございますので、\n設問マスタのご確認をお願いいたします。\n登録します。よろしいですか？")) {
            $('form').off('submit');
            return false;
        }
        $('.orderno').each(function (i) {
            $(this).val(i);
        });
        $('form').attr('action', '@Url.Content("~/CategoryM/Edit")');
        $('form').submit();
    }
    function add() {
        $('.orderno').each(function (i) {
            $(this).val(i);
        });
        $('form').attr('action', '@Url.Content("~/CategoryM/Add")');
        $('form').submit();
    }
    function nextMaster() {
        if (confirm("次のマスタ登録へ進みます。\n画面の編集中のデータは破棄されますがよろしいですか？")) {
            $('form').attr('action', '@Url.Content("~/CategoryM/InitialSetLocation")');
            $('form').submit();
        }
    }
</script>

@{
    if ("3".Equals(Session["DISPMODE"]))
    {
        <h1 id="img-title">初期設定</h1>
        <img src="@Url.Content("~/Content/images/category.png")" id="first-map" />
        <div><button type="button" name="skipbtn" value="skip" class="btn-skip" onclick="nextMaster()">次のマスタへ進む</button></div>
    }
}
<h1 class="page-title">大分類マスタ</h1>
@using (Html.BeginForm("Edit", "CategoryM", new { }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <section id="">
        @Html.ValidationSummary()
        @{
            var disp = "none";
            if (!string.IsNullOrEmpty(ViewBag.registMsg))
            {
                disp = "block";
            }
        }
        <div id="message-area" style="display: @disp">
            <div class="regist-message" style="display: @disp">@ViewBag.registMsg</div>
        </div>
        <dev id="sortbtn-area">
            <input type="button" id="" class="sotrbtn" value="▲" onclick="sortUp()">
            <input type="button" id="" class="sotrbtn" value="▼" onclick="sortDown()">
            <span class="">表示順序変更</span>
        </dev>

        <table id="tbl1" class="header_title">
            <thead>
                <tr class="datarow">
                    <th class="th-1">No</th>
                    <th class="th-2">削除</th>
                    <th class="th-3">大分類ID</th>
                    <th class="th-4">大分類名称</th>
                    <th class="th-5">大分類名称（英語表記）</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    var key = String.Format("list[{0}].", i);
                    var item = Model[i];
                    <tr class="datarow" name="@key + Row">
                        @Html.Hidden(key + "EditMode", item.EditMode)
                        @Html.Hidden(key + "CategoryId", item.CategoryId)
                        @Html.Hidden(key + "DisplayNo", item.DisplayNo)
                        @Html.Hidden(key + "InsUserId", item.InsUserId)
                        @Html.Hidden(key + "UpdDate", item.UpdDate)
                        @Html.Hidden(key + "No", item.No, new { @class = "orderno" })
                        <td class="td-1 number no"></td>
                        <td class="td-1 chk">@Html.CheckBox(key + "DelFlg", item.DelFlg)</td>
                        <td class="td-2 moji">@item.CategoryId</td>
                        <td class="td-3 inp-txt">@Html.TextBox(key + "CategoryName", item.CategoryName, new { @class = "table-txt" })</td>
                        <td class="td-4 inp-txt">@Html.TextBox(key + "CategoryNameEng", item.CategoryNameEng, new { @class = "table-txt" })</td>
                    </tr>
                }
                @if (Model.Count == 0)
                {
                    <tr class="datarow" name="list[0].Row">
                        @Html.Hidden("list[0].EditMode", 0)
                        @Html.Hidden("list[0].CategoryId", string.Empty)
                        @Html.Hidden("list[0].DisplayNo", string.Empty)
                        @Html.Hidden("list[0].InsUserId", string.Empty)
                        @Html.Hidden("list[0].UpdDate", string.Empty)
                        @Html.Hidden("list[0].No", 1, new { @class = "orderno" })
                        <td class="td-1 number no"></td>
                        <td class="td-1 chk">@Html.CheckBox("list[0].DelFlg", false)</td>
                        <td class="td-2 moji"></td>
                        <td class="td-3 inp-txt">@Html.TextBox("list[0].CategoryName", string.Empty, new { @class = "table-txt" })</td>
                        <td class="td-4 inp-txt">@Html.TextBox("list[0].CategoryNameEng", string.Empty, new { @class = "table-txt" })</td>
                    </tr>
                }
            </tbody>
        </table>

        <section id="btnarea">

            @if ("3".Equals(Session["DISPMODE"]))
            {
                <button type="button" name="registbtn" class="btn-register" onclick="regist2()">登録</button>
                
            }
            else
            {
                <button type="button" name="registbtn" class="btn-register" onclick="regist();" @ViewBag.editMode>登録</button>
            }
        </section>
    </section>
}
